cython==3.0.8
scipy==1.7.3
termcolor==2.3.0
yapf==0.32.0

submitit
addict
timm==0.6.13

git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi